In [94]:
import pandas as pd
import numpy as np
from scipy import stats

EXERCISE 2

Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

In [96]:
df1=pd.read_excel("soil.xlsx")

In [97]:
df1.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

INDEPENDENT T TEST

In [25]:
alpha=0.1

In [98]:
df1.Soil1.isnull().sum()

5

In [99]:
df1.Soil2.isnull().sum()

0

In [100]:
n_soil1=df1.Soil1[df1.Soil1.notnull()]  #null olmayanlarin sayisina ihtiyacim var

In [101]:
n1=len(n_soil1)
n1

30

In [37]:
#soil 2  icin ayni islemi yapmaliyim 
n_soil2=df1.Soil1[df1.Soil2.notnull()]

In [38]:
n2=len(n_soil2)
n2

35

Hypothesis

H0:m1=m2

H1:m!=m2 

(two_tail test)

In [40]:
ind_soil=stats.ttest_ind(n_soil1, df1.Soil2)
ind_soil

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [41]:
t=ind_soil.statistic
t

5.1681473319343345

p_value

In [45]:
df = n1 + n2 -2

In [46]:
df

63

In [47]:
p_value=2*(1-stats.t.cdf(t,df))
p_value

2.5932287324170744e-06

In [49]:
alpha=0.01
if p_value<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null

EXERCISE 3

In [52]:
df2=pd.read_excel("2015 PISA Test.xlsx")
df2

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NaN,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).

In [54]:
df2.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [56]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
internet_users_per_100,70.0,71.973099,16.390632,21.976068,60.899020,72.99935,85.026763,98.2000
Math,70.0,460.971557,53.327205,327.702000,417.416075,477.60715,500.482925,564.1897
Reading,70.0,460.997291,49.502679,346.549000,426.948625,480.19985,499.687475,535.1002
Science,70.0,465.439093,48.397254,331.638800,425.923375,475.40005,502.431250,555.5747

In [61]:
df2.groupby("Continent_Code").describe().T

Continent_Code                        AF          AS          EU          OC  \
internet_users_per_100 count    2.000000   17.000000   37.000000    2.000000
                       mean    43.359918   68.455613   77.274888   86.391704
                       std      7.297226   21.086060   12.425773    2.589686
                       min     38.200000   21.976068   53.744979   84.560519
                       25%     40.779959   50.300000   68.632900   85.476112
                       50%     43.359918   74.000000   76.184000   86.391704
                       75%     45.939877   84.948353   87.479056   87.307296
                       max     48.519836   92.884826   98.200000   88.222889
Math                   count    2.000000   17.000000   37.000000    2.000000
                       mean   363.212100  466.216647  477.981449  494.559750
                       std      5.099513   64.356490   35.150403    0.938401
                       min    359.606200  380.259000  371.311400  493.896200
                       25%    361.409150  403.833200  464.040100  494.227975
                       50%    363.212100  459.816000  489.728700  494.559750
                       75%    365.015050  531.296100  503.722000  494.891525
                       max    366.818000  564.189700  521.250600  495.223300
Reading                count    2.000000   17.000000   37.000000    2.000000
                       mean   355.457400  454.059682  476.164608  506.085650
                       std      7.916909   57.048962   37.720545    4.504341
                       min    349.859300  346.549000  351.741500  502.900600
                       25%    352.658350  408.102200  452.514300  504.493125
                       50%    355.457400  433.542300  487.250100  506.085650
                       75%    358.256450  508.690500  499.814600  507.678175
                       max    361.055500  535.100200  526.424700  509.270700
Science                count    2.000000   17.000000   37.000000    2.000000
                       mean   381.074250  467.945847  478.299381  511.648700
                       std      7.536556   56.671371   34.450616    2.340241
                       min    375.745100  386.485400  383.682400  509.993900
                       25%    378.409675  417.611200  460.774900  510.821300
                       50%    381.074250  456.483600  490.225000  511.648700
                       75%    383.738825  523.277400  501.936900  512.476100
                       max    386.403400  555.574700  534.193700  513.303500

Continent_Code                        SA
internet_users_per_100 count    7.000000
                       mean    60.180494
                       std      9.772455
                       min     40.900000
                       25%     57.116462
                       50%     64.289000
                       75%     66.321532
                       max     69.198471
Math                   count    7.000000
                       mean   402.887700
                       std     18.128894
                       min    377.069500
                       25%    388.102200
                       50%    409.033300
                       75%    417.617650
                       max    422.671400
Reading                count    7.000000
                       mean   425.359229
                       std     19.709688
                       min    397.541400
                       25%    416.126900
                       50%    425.303100
                       75%    431.922700
                       max    458.570900
Science                count    7.000000
                       mean   421.747186
                       std     18.470319
                       min    396.683600
                       25%    408.205450
                       50%    424.590500
                       75%    433.794600
                       max    446.956100

In [65]:
df2[df2.Continent_Code=="EU"]["Math"].isnull().sum()

0

In [66]:
df2[df2.Continent_Code=="AS"]["Math"].isnull().sum()

0

In [68]:
n1=len(df2[df2.Continent_Code=="EU"])
n1

37

In [69]:
n2=len(df2[df2.Continent_Code=="AS"])
n2

17

hypothesis 

H0: m1=m2 

H1: m1!=m2

(two size tail )

In [70]:
ind_pis= stats.ttest_ind(df2[df2.Continent_Code=="EU"]["Math"],df2[df2.Continent_Code=="AS"]["Math"])
ind_pis

Ttest_indResult(statistic=0.8700553179679787, pvalue=0.38826888111307556)

In [71]:
t_pis=ind_pis.statistic
t_pis

0.8700553179679787

p_value

In [72]:
df=n1+n2-2
df

52

In [74]:
p_value=2*(1-stats.t.cdf(t_pis,df))
p_value

0.38826888111307545

In [75]:
alpha=0.05  #default
if p_value<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

fail to reject the null

EXERCISE 4


.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

In [78]:
df3=pd.read_excel("students_2014.xlsx")
df3.head()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,1995-03-22,NaT,NaT,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1995-01-01,NaT,NaT,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,1994-12-31,NaT,NaT,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,1994-12-01,NaT,NaT,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,1994-11-10,NaT,NaT,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0

In [79]:
df_eng_math=pd.DataFrame(df3.loc[:,["English","Math"]])
df_eng_math

     English   Math
0      88.24  60.02
1      89.45  70.19
2      96.73  71.20
3      74.06  55.89
4      82.61  65.52
..       ...    ...
430    87.72  65.31
431    91.01  70.25
432    81.05  58.16
433    75.59  66.84
434    75.65  60.24

[435 rows x 2 columns]

In [80]:
df_dropen=df_eng_math.English.dropna()
df_dropen

0      88.24
1      89.45
2      96.73
3      74.06
4      82.61
       ...
430    87.72
431    91.01
432    81.05
433    75.59
434    75.65
Name: English, Length: 409, dtype: float64

In [81]:
df_dropmath=df_eng_math.Math.dropna()
df_dropmath

0      60.02
1      70.19
2      71.20
3      55.89
4      65.52
       ...
430    65.31
431    70.25
432    58.16
433    66.84
434    60.24
Name: Math, Length: 422, dtype: float64

In [82]:
df_eng_math.English.isnull().sum()

26

In [83]:
df_eng_math.Math.isnull().sum()

13

In [84]:
n1=len(df_dropen[df_dropen.notnull()])
n1

409

In [86]:
n2=len(df_dropmath[df_dropmath.notnull()])
n2

422


hypotesis 


H0: m1=m2
    
H1: m1!=m2 

(2 sided test)

In [88]:
ind_ex4=stats.ttest_ind(df_dropen,df_dropmath)
ind_ex4

Ttest_indResult(statistic=32.59188089176449, pvalue=1.2521075466222401e-150)

In [89]:
tt=ind_ex4.statistic
tt

32.59188089176449

p _value

In [90]:
ind_ex4.pvalue

1.2521075466222401e-150

In [91]:
df=n1+n2-2
df

829

In [92]:
p_value = 2*(1-stats.t.cdf(tt,df))
p_value

0.0

In [93]:
alpha=0.01
if p_value<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null